{% extends "templates/web.html" %}

{%- block title -%}{{_("Dashboard")}}{%- endblock -%}

{% block page_content %}

<link rel="stylesheet" href="styles.css" type="text/css">

<div id="page-card" class='page-card'>
	<div class="container">
		<nav id="navigation" class="navbar sticky-top navbar-light bg-light">
			<div><button type="button" id="refreshButton" class='btn btn-primary btn-sm return'>Reload</button></div>
			<div><a href=/app/droplet-dashboard id="returnButton" class='btn btn-primary btn-sm return'>Return to
					Dashboard</a></div>
			<!-- <div id="item_lead_time_text">Item Lead Time</div>
			<input type="text" id="item_lead_time" class="border border-dark rounded" name="item lead time" value="14"> -->
			<div id="deliveries_in_month_text">Forecasted Time For a Delivery</div>
			<input type="text" id="deliveries_in_month" class="border border-dark rounded" name="deliveries in month" value="4">
			<div id="current"></div>
			<div id="select_item">Select Item</div>
			<div id="dropDownOverview" class="border border-dark rounded"></div>
		</nav>
		<div id="progress_bar" class="progress-bar" role="progressbar" style="width:0%"></div>
		<div id="stockTable">
			<table id="MainTable" class="table table-hover">
				<tr>
					<th class="dash_header" scope="col">Item</th>
					<th class="dash_header" scope="col"><button type="button" id="sortTotalReqButton" class="btn btn-secondary custom-button">Total Req</button></th>
					<th class="dash_header" scope="col"><button type="button" id="sortCurrentInvButton" class='btn btn-secondary custom-button'>Current Inv</button></th>
					<th class="dash_header" scope="col"><button type="button" id="sortLeadTimeButton" class='btn btn-secondary custom-button'>Lead Time</button></th>
					<th class="dash_header" scope="col"><button type="button" id="sortLeadTimeQty" class='btn btn-secondary custom-button'>Next Order Qty</button></th>
					<th class="dash_header" scope="col"><button type="button" id="sortByDate" class='btn btn-secondary custom-button'>Order by date</button></th>
					<th class="dash_header" scope="col"><button type="button" id="sortByFutureOrder" class='btn btn-secondary custom-button'>Future Order Qty</button></th>
					<th class="dash_header" scope="col"><button type="button" id="sortIncomingQty" class='btn btn-secondary custom-button'>Qty on the way</button></th>
					<th class="dash_header" scope="col">PO</th>
				</tr>
			</table>
		</div>
	</div>
</div>
<style>
	.hero-and-content {
		background-color: #f5f7fa;
	}
</style>
{% endblock %}


{% block script %}
<script src="https://kit.fontawesome.com/cd6afecc1d.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="getItemReport.js"></script>
<script type="text/javascript" src="droplet_dashboard.js"></script>

{% endblock %}