{% extends "templates/web.html" %}

{%- block title -%}{{_("Dashboard")}}{%- endblock -%}

{% block page_content %}
<style>
.hero-and-content {
	background-color: #f5f7fa;
}
header, footer {
	display: none;
}
html, body {
	background-color: #f5f7fa;
}
/*{% include "templates/styles/card_style.css" %}*/
</style>

<div class='page-card'>
	<div class='page-card-head'>
		<span class='indicator darkgrey'>DROPLET Dashboard</span>
	</div>
	<p>{{_("Prototype Image.")}}</p>
	<img src="prototype.png" alt="Dashboard" height="600">
	<p>{{_("Page Creation Successful.")}}</p>
	<div><a href='/' class='btn btn-primary btn-sm'>{{ _("Home") }}</a></div>
</div>
<style>
.hero-and-content {
	background-color: #f5f7fa;
}
</style>
{% endblock %}

{% block script %}
<script type="text/javascript" src="getItemReport.js"></script>
{% endblock %}