{% extends "templates/web.html" %}

{%- block title -%}{{_("Dashboard")}}{%- endblock -%}

{% block page_content %}
<style>
.hero-and-content {
	background-color: #f5f7fa;
}
header, footer {
	display: none;
}
html, body {
	background-color: #f5f7fa;
}
/*{% include "templates/styles/card_style.css" %}*/
</style>

<div class='page-card'>
	<div class='page-card-head'>
		<span class='indicator darkgrey'>DROPLET Dashboard</span>
	</div>
	<p>{{_("Prototype Image.")}}</p>
	<img src="prototype.png" alt="Dashboard" height="600">
	<p>{{_("Page Creation Successful.")}}</p>
	<div><a href='/' class='btn btn-primary btn-sm'>{{ _("Home") }}</a></div>
</div>
<style>
.hero-and-content {
	background-color: #f5f7fa;
}
</style>
<script>
	frappe.ready(function() {
		function getRequest(url) {
    const xhttp = new XMLHttpRequest();
    //const url = "";
    xhttp.open("GET", url, true);
    xhttp.send();
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4) {
            if (this.status === 200) {
                console.log(this.responseText);
            }             
        }
    }
}
	getRequest("/api/resource/BOM");
	getRequest("/api/resource/BOM/BOM-Trailer_Code-001");
	});
</script>
{% endblock %}
