{% extends "templates/web.html" %}

{%- block title -%}{{_("Dashboard")}}{%- endblock -%}

{% block page_content %}

<link rel="stylesheet" href="styles.css" type="text/css">

<div class='page-card'>
	<div class='page-card-head'>
		<span class='indicator darkgrey'>DROPLET Dashboard</span>
	</div>
	<div class="container">
		<div class="update">
			<div id="current"></div>
			<div id="last_updated">Last Updated: </div>
		</div>
		<div>Overview</div>
		<div class="overview">

		</div>
		<div>Dashboard</div>
		<div class="itemTable" id="stockTable">

		</div>
		<div class="monthly">
			<div id="item">[Item #]:[Item Name]</div>
			<div id="values">
				<div class="month" id="jan"></div>
				<div class="month" id="feb"></div>
				<div class="month" id="mar"></div>
				<div class="month" id="apr"></div>
				<div class="month" id="may"></div>
				<div class="month" id="jun"></div>
				<div class="month" id="jul"></div>
				<div class="month" id="aug"></div>
				<div class="month" id="sep"></div>
				<div class="month" id="oct"></div>
				<div class="month" id="nov"></div>
				<div class="month" id="dec"></div>
			</div>
			<div id="values">
				<div class="month" id="month_1"></div>
				<div class="month" id="month_2"></div>
				<div class="month" id="month_3"></div>
				<div class="month" id="month_4"></div>
				<div class="month" id="month_5"></div>
				<div class="month" id="month_6"></div>
				<div class="month" id="month_7"></div>
				<div class="month" id="month_8"></div>
				<div class="month" id="month_9"></div>
				<div class="month" id="month_10"></div>
				<div class="month" id="month_11"></div>
				<div class="month" id="month_12"></div>
			</div>
		</div>
	</div>
	<div><a href=/app/droplet-dashboard class='btn btn-primary btn-sm, return'>Return to Dashboard</a></div>
</div>

<script>
	get_todays_date();
	frappe.ready(function() {
		function getRequest(url) {
    const xhttp = new XMLHttpRequest();
    //const url = "";
    xhttp.open("GET", url, true);
    xhttp.send();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4) {
        if (this.status === 200) {
          console.log(this.responseText);
        }             
      }
    }
	}
	getRequest("/api/resource/BOM");
	getRequest("/api/resource/BOM/BOM-Trailer_Code-001");
	});
	function get_todays_date() {
		let current = document.getElementById("current");
		let today = new Date();
		const options = {weekday: 'long', year:'numeric', month: 'long', day: 'numeric'};
		
		current.innerHTML = "Today's Date: " + today.toLocaleDateString(undefined, options);
	}
</script>

{% endblock %}
