.hero-and-content {
  background-color: #f5f7fa;
}

header,
footer {
  display: none;
}

html,
body {
  background-color: #f5f7fa;
}

#navigation {
  display: grid;
  grid-template-columns: fit-content(30%) fit-content(40%);
  grid-template-rows: fit-content(3vh) fit-content(3vh) fit-content(3vh) fit-content(3vh) fit-content(3vh);
  column-gap: 1%;
  padding-bottom: 2vh;
  background-color: #b3b3b3;
  position: sticky;
  z-index: 0;
}

#stockTable {
  width: 100%;
  margin-bottom: 1vh;
}

#refreshButton {
  grid-column: 1;
  grid-row: 1 / 2;
}

#returnButton {
  grid-column: 2;
  grid-row: 1 / 2;
  float: right;
}

#current {
  grid-column: 2;
  grid-row: 2 / 3;
}

#item_lead_time_text {
  grid-column: 1;
  grid-row: 2 / 3;
}

#item_lead_time {
  grid-column: 1;
  grid-row: 3 / 4;
}

#select_item {
  grid-column: 2;
  grid-row: 3 / 4;
}

#dropDown {
  grid-column: 2;
  grid-row: 4 / 5;
}

.monthly {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

#item {
  align-self: center;
}



#values {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.month {
  height: 7vh;
  width: 100%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 1.15em;
}

.blue {
  background-color: rgba(1, 1, 255, 0.445);
}

.green {
  background-color: rgba(6, 221, 6, 0.486);
}

.red {
  background-color: rgba(255, 0, 0, 0.397);
}

.grey {
  background-color: grey;
}

table,
.dash_header,
td {
  padding: 1.0em;
}

.dash_header {
  background: #b3b3b3;
  position: sticky;
  top: 13.75vh;
}

.gray {
  background: #b3b3b3;
}

.loadingIcon {
  display: inline-block;
  width: 100%;
}

.loadingIconParent {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.row-white {
  background: rgb(255, 255, 255);
  color: black;
}

.row-red {
  background: rgb(255, 153, 153);
  color: black;
}

.row-orange {
  background: rgb(255, 204, 153);
  color: black;
}

.row-yellow {
  background: rgb(255, 255, 153);
  color: black;
}

.row-lightgreen {
  background: rgb(204, 255, 153);
  color: black;
}

.row-green {
  background: rgb(153, 255, 153);
  color: black;
}

.row-gray {
  background: rgb(224, 224, 224);
  color: black;
}

.custom-button {
  padding: 5px;
  margin: 0;
}

.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}