.hero-and-content {
	background-color: #f5f7fa;
}

header, footer {
	display: none;
}

html, body {
	background-color: #f5f7fa;
}

.update {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#last_updated {
  justify-self: end;
  margin-bottom: 2vh;
}

.overview {
  background-color: lightgray;
  height: 10vh;
  width: 100%;
  margin-bottom: 2vh;
}

.itemTable {
  background-color: lightgray;
  height: 35vh;
  width: 100%;
  margin-bottom: 1vh;
}

.monthly {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

#item {
  align-self: center;
}

#values {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.month {
  height: 7vh;
  width: 100%;
  background-color: rgb(149, 151, 151);
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

.return {
  margin-top: 2vh;
}
